.ng-scope{
    margin-top: -20px;
}
body{
    margin:0;
    padding: 0;
    background-image:url("images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height:800px;
    overflow: hidden;
}
h1{
    margin-top:5%;
    text-align:center;
    color:#FFF;
    font-family:Sans-Serif;
    padding-top:5%;
}
h2{
    padding-top:0;
    padding-bottom:3%;
    text-align:center;
    font-size:220%;
    color:#004c64;
    font-family:Sans-Serif;
}

.well{
    width: 28%;
    margin: auto;
}
.view{
    padding-top: 2%;
}
.tabs{
    margin:0 auto;
    align:center;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    width: 50%;
    text-align: center;

}

a:hover{
    text-decoration:none;
}
.sidenav {
    height: 100%;
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #004c64;
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 50px;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover {
    color: #f1f1f1;
    text-decoration: none;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.navbar{
    position: absolute;
	background-color: #004c64;
}
.well h1{
    padding-top: 300px;
}

/*main panel*/
.news {
	background-color:white;
	width:25%;
	height:300px;
	margin-right:35px;
	font-size:14px;
	float:right;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.news h2{
	font-size:16px;
}
.schedule{
	background-color:white;
	width:51.2%;
	height:300px;
	margin-left:260px;
	font-size:14px;
	float:left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.schedule h2{
	font-size:16px;
}
.last_marks{
	background-color:white;
	width:25%;
	height:250px;
	margin-left:260px;
	margin-top:20px;
	font-size:14px;
	float:left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.last_marks h2{
	font-size:16px;
}
.tests{
	background-color:white;
	width:25%;
	height:250px;
	margin-right:35px;
	margin-top:20px;
	font-size:14px;
	float:right;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tests h2{
	font-size:16px;
}
.lists{
	background-color:white;
	width:25%;
	height:250px;
	margin-right:20px;
	margin-top:20px;
	font-size:14px;
	float:right;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.lists h2{
	font-size:16px;
}
.usertable{
    margin: auto;
    width:50%;
    height:auto;
    background-color: white;


}
.navbar span {
    font-size: 25px;
    top: 10px;
    color: #FFFFFF;
    font-family: "Arial Narrow";
    margin-left: 20px;
}
.navbar button {
    float: right;
    margin-top: 10px;
}

.navBardemoBasicUsage md-content .ext-content {
    padding: 50px;
    margin: 20px;
    background-color: #FFF2E0; }
