<div data-ng-controller="classDatesController as ctrl">
    <div class="well">
        <form name="form">
            <h2>Dodaj terminy zajęć </h2>
            <div class="form-group">
                <md-input-container class="md-block">
                <div flex>
                    <label>Grupa</label>
                    <md-select ng-model="ctrl.userGroup" required="true">
                        <md-option ng-repeat="group in ctrl.userGroups" ng-value="group.id" ng-disabled="$index === 1" required />
                            {{group.name}}
                        </md-option>
                    </md-select>
                </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Początek zajęć</label>

                        <md-datepicker ng-model="ctrl.classDateDateStart" md-placeholder="Wybierz datę" ng-required="true" required /></md-datepicker>

                </md-input-container>
                <md-input-container class="md-block">


                    <input type="time" id="startTime" name="input" ng-model="ctrl.classDateTimeStart.value"
                               placeholder="HH:mm:ss" required/>

                </md-input-container>
                <md-input-container class="md-block">
                    <label>Koniec zajęć</label>

                            <md-datepicker ng-model="ctrl.classDateDateEnd" md-placeholder="Wybierz datę" ng-required="true" required /></md-datepicker>
                </md-input-container>
                <md-input-container class="md-block">

                            <input type="time" id="endTime" name="input" ng-model="ctrl.classDateTimeEnd.value"
                                   placeholder="HH:mm:ss" required/>

                </md-input-container>

                <md-input-container class="md-block">
                <label>Sala</label>
                <input ng-model="ctrl.classRoom" required/>
                </md-input-container>

            </div>

        <md-button class="md-primary md-raised"  ng-click="ctrl.addClassDateToList()">Dodaj</md-button>
        </form>
        <form>
        <h3>Dodane zajęcia:</h3>
            <table class="table">

                <thead>
                <tr>
                    <th>Początek</th>
                    <th>Koniec</th>
                    <!--  <th>Studenci</th>-->
                    <th>Sala</th>
                    <th>Akcja</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                </tr>
                <tr ng-repeat="classDate in ctrl.classDates">
                    <td>{{classDate.startDate}}</td>
                    <td> {{classDate.endDate}} </td>
                    <td>{{classDate.classRoom}}</td>
                    <!-- <td ng-repeat="member in x.members">{{member.}}</td>-->
                    <td><button type="button" class="btn btn-danger" data-ng-click="delete(x.id)">Delete</button></td>
                </tr>
                </tbody>
            </table>

        <md-button class="md-primary md-raised"  ng-click="ctrl.saveClassDates(ctrl.classDates)">Zapisz</md-button>
        </form>
    </div>
</div>