<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>OSMP</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="CSS/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <script src="https:////ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-cookies.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="js/admin_panel.js"></script>
    <script src="js/users_controller.js"></script>
    <script src="js/services/userService.js"></script>
    <script src="js/module_controller.js"></script>
    <script src="js/services/moduleService.js"></script>
    <script src="js/faculty_controller.js"></script>
    <script src="js/services/facultyService.js"></script>
    <script src="js/faculties_controller.js"></script>
    <script src="js/services/facultiesService.js"></script>
    <script src="js/login_controller.js"></script>
    <script src="js/services/loginService.js"></script>
    <script src="js/modules_controller.js"></script>
    <script src="js/services/modulesService.js"></script>
    <script src="js/group_controller.js"></script>
    <script src="js/services/groupService.js"></script>
    <script src="js/usergroups_controller.js"></script>
    <script src="js/services/userGroupService.js"></script>
    <script src="js/admin_controller.js"></script>
    <script src="js/addUser_Controller.js"></script>
    <script src="js/services/addUser_service.js"></script>
    <script src="js/profile_controller.js"></script>
    <script src="js/groupList_controller.js"></script>
    <script src="js/menu_controller.js"></script>
    <script src="js/services/menuService.js"></script>
    <script src="js/classdate_controller.js"></script>


</head>
<body ng-app="app" >
<div class="navbar" data-ng-controller="adminController">
    <span><a href="#/users"><img src="CSS/images/images.png"/>osmp</a></span>
    <button onclick="myFunction()" class="dropbtn">&#9776;</button>
     <div id="myDropdown" class="dropdown-content">
         <p><a href="#profile">Edycja profilu</a></p>
         <p data-ng-click="logout()">Wyloguj</p>
     </div>


</div>
<div class="menu" data-ng-controller="menuController">
    <ol ng-repeat="x in data">
        <li>{{x.title}}
            <ul>
                <li ng-repeat="menu in x.menuOptions"><a href="{{menu.url}}">{{menu.title}}</a></li>
            </ul>
        </li>
    </ol>
</div>

    <!--
<ol>
    <li>Użytkownicy
        <ul>
            <li><a href="#users">Lista użytkowników</a></li>
            <li><a href="#addUser">Dodaj</a></li>
        </ul>
    </li>
    <li>Aktualności
        <ul>
            <li><a href="#">Aktualności</a></li>
        </ul>
    </li>
    <li>Kierunki
        <ul>
            <li><a href="#faculty">Dodaj kierunek</a></li>
            <li><a href="#faculties">Lista kierunków</a></li>
        </ul>
    </li>
    <li>Przedmioty
        <ul>
            <li><a href="#module">Dodaj przedmiot</a></li>
            <li><a href="#modules">Lista przedmiotów</a></li>
        </ul>
    </li>
    <li>Grupy
        <ul>
            <li><a href="#groups">Dodaj grupę</a></li>
            <li><a href="#usergroup">Przypisz uczniów</a></li>
            <li><a href="#group_list">Lista grup</a></li>
        </ul>
    </li>

</ol>

</div>-->

<div data-ng-view></div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<script>

function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {

        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
            }
        }
    }
}
</script>
</body>
</html>