<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>OSMP</title>
    <link rel="stylesheet" type="text/css" href="CSS/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <script src="js/admin_panel.js"></script>
    <script src="js/users_controller.js"></script>
    <script src="js/userService.js"></script>
    <script src="js/module_controller.js"></script>
    <script src="js/moduleService.js"></script>
    <script src="js/faculty_controller.js"></script>
    <script src="js/facultyService.js"></script>
    <script src="js/faculties_controller.js"></script>
    <script src="js/facultiesService.js"></script>
    <script src="js/login_controller.js"></script>
    <script src="js/loginService.js"></script>
    <script src="js/modules_controller.js"></script>
    <script src="js/modulesService.js"></script>
    <script src="js/group_controller.js"></script>
    <script src="js/groupService.js"></script>
    <script src="js/usergroups_controller.js"></script>
    <script src="js/userGroupService.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

</head>
<body>
<div class="navbar">
    <span>O S M P</span>
    <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary" data-ng-click="add()">Log out</button>
    <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary" data-ng-click="add()">Edit profile</button>

</div>
<div id="mySidenav" class="sidenav">
    <a href="#users">Użytkownicy</a>
    <a href="#">Aktualności</a>
    <a href="#faculty">Dodaj kierunek</a>
    <a href="#faculties">Lista kierunków</a>
    <a href="#module">Dodaj moduł</a>
    <a href="#modules">Lista przedmiotów</a>
    <a href="#groups">Dodaj grupę</a>
    <a href="#usergroup">Przypisz uczniów</a>
</div>

<div data-ng-view></div>



</body>
</html>