<div class="usertable" data-ng-controller="groupListController">
    <table class="table">

        <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
          <!--  <th>Studenci</th>-->
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        </tr>
        <tr ng-repeat="x in data">
            <td>{{x.id}}</td>
            <td>{{x.name}}</td>
           <!-- <td ng-repeat="member in x.members">{{member.}}</td>-->
            <td><button type="button" class="btn btn-danger" data-ng-click="delete(x.id)">Delete</button></td>
            <td><button type="button" class="btn btn-primary" >Edit</button> </td>
        </tr>
        </tbody>
    </table>

</div>