<div class="usertable" data-ng-controller="modulesController">
    <h2>Lista przedmiotów</h2>
    <div class="searchbar">
        <label>Szukaj</label>
        <input type="text" name="search" ng-model="searchKeyword">
    </div>
    <div class="tables">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Kierunek</th>
            <th>Usuń</th>
            <th>Edytuj</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        </tr>
        <tr ng-repeat="x in data | filter:searchKeyword">
            <td>{{x.id}}</td>
            <td>{{x.name}}</td>
            <td>{{x.faculty.id}}</td>
            <td>{{x.faculty.code}} {{x.faculty.name}}</td>
            <td><md-button class="md-warn md-raised" ng-click="showConfirm($event, x.id)" >Usuń</td>
            <td><md-button class="md-primary md-raised" ng-click="showPrompt($event, x.id, x.faculty.id)" >Edytuj</td>
        </tr>
        </tbody>
    </table>
    </div>
</div>