
<div class="usertable" data-ng-controller="userController" >

    <h2>Lista użytkowników</h2>
    <div class="searchbar">
        <label>Szukaj</label>
        <input type="text" name="search" ng-model="searchKeyword">
    </div>
    <div class="tables">
    <table class="table">


        <thead>
        <tr>
            <th>Id</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Role</th>
            <th>Usuń</th>
            <th>Edytuj</th>

        </tr>
        </thead>
        <tbody>
        <tr>
        </tr>
        <tr ng-repeat="x in data | filter: searchKeyword">
            <td>{{x.id}}</td>
            <td>{{x.firstName}}</td>
            <td>{{x.lastName}}</td>
            <td ng-repeat="roles in x.roles">{{roles.role}}</td>
            <td><md-button class="md-warn md-raised" ng-click="showConfirm($event, x.id)" >Usuń</td>
            <td><md-button class="md-primary md-raised" ng-click="showAdvanced($event, x.id, x.firstName, x.lastName)">
                Edytuj
            </md-button></td>
        </tr>
        </tbody>
    </table>
    </div>
</div>