<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>OSMP</title>
    <link rel="stylesheet" type="text/css" href="CSS/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <script src="js/user_panel.js"></script>
    <script src="js/users_controller.js"></script>
    <link rel="stylesheet" href="js/timetable/timetablejs.css">
    <script src="js/mainPanel_Controller.js"></script>



</head>
<body>
<div class="navbar">
    <span>O S M P</span>
    <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary" data-ng-click="logout()">Log out</button>
    <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary" data-ng-click="add()">Edit profile</button>

</div>
<div id="mySidenav" class="sidenav">
    <a href="#main_panel">Panel główny</a>
    <a href="#marks_panel">Oceny</a>
    <a href="#">Sprawdziany</a>
    <a href="#">Przedmioty</a>
    <a href="#">Grupy</a>
</div>

<div data-ng-view></div>

</body>
</html>